/*========================================================================================

01.00      BASE        MACROS

========================================================================================*/


/*-------------------------------------------------------------

01.01      BASE        MACROS       APPEARANCE & DISPLAY

-------------------------------------------------------------*/

/* APPEARANCE */
{% macro appearance(type) %} 
    -webkit-appearance: {{ type }};
    -moz-appearance: {{ type }};
    appearance: {{ type }};
{% endmacro %}

/* BORDER RADIUS */
{% macro borderRadius(amount) %} 
    -webkit-border-radius: {{ amount }};
    -moz-border-radius: {{ amount }};
    -ms-border-radius: {{ amount }};
    border-radius: {{ amount }};
{% endmacro %}

/* BOX SIZING */
{% macro boxSizing(model) %} 
    -webkit-box-sizing: {{ model }};
    -moz-box-sizing: {{ model }};
    box-sizing: {{ model }};
{% endmacro %}

/* HORIZONTAL CONTAINER */
{% macro gutters(maxwidth, width) %}
    margin: 0 auto;
    max-width: {{ maxwidth }};
    width: {{ width }};
{% endmacro %}

/* INLINE-BLOCK, EDGE-TO-EDGE */
{% macro displayEdgeToEdge(valign) %} 
    display: inline-block;
    margin-right: -4px;
    vertical-align: {{ valign }};
{% endmacro %}

/* VERTICALLY-ALIGNED */
{% macro alignVertically(amount) %}
    position: relative;
    top: {{ amount }};
    {{ transform("translateY(-{{ amount }})") }}
{% endmacro %}


/*-------------------------------------------------------------

01.02      BASE        MACROS       COLUMNS

-------------------------------------------------------------*/

/* COLUMN COUNT */
{% macro columnCount(number) %}
    -webkit-column-count: {{ number }};
    -moz-column-count: {{ number }};
    column-count: {{ number }};
{% endmacro %}

/* COLUMN GAP */
{% macro columnGap(amount) %}
    -webkit-column-gap: {{ amount }};
    -moz-column-gap: {{ amount }};
    column-gap: {{ amount }};
{% endmacro %}

/* COLUMN WIDTH */
{% macro columnWidth(width) %}
    -webkit-column-width: {{ width }};
    -moz-column-width: {{ width }};
    column-width: {{ width }};
{% endmacro %}


/*-------------------------------------------------------------

01.03      BASE        MACROS       FLEXBOX

-------------------------------------------------------------*/

/* ALIGN (PARENT) */
{% macro flexboxAlign(alignment) %} 
    align-items: {{ alignment }}; 
    -ms-flex-align: {{ alignment }}; 
    -webkit-align-items: {{ alignment }}; 
    -moz-box-align: {{ alignment }}; 
    -webkit-box-align: {{ alignment }};
{% endmacro %}

/* DIRECTION (PARENT) */
{% macro flexboxDirection(direction) %} 
    -webkit-flex-direction: {{ direction }};
    -moz-flex-direction: {{ direction }};
    -ms-flex-direction: {{ direction }};
    flex-direction: {{ direction }}; 
{% endmacro %}

/* JUSTIFY (PARENT) */
{% macro flexboxJustify(justification) %} 
    -webkit-justify-content: {{ justification }};
    -moz-justify-content: {{ justification }};
    -ms-justify-content: {{ justification }};
    justify-content: {{ justification }};
{% endmacro %}

/* WRAP (PARENT) */
{% macro flexboxWrap(wrap) %} 
    flex-wrap: {{ wrap }}; 
    -moz-flex-wrap: {{ wrap }}; 
    -ms-flex-wrap: {{ wrap }}; 
    -webkit-flex-wrap: {{ wrap }};
{% endmacro %}

/* FLEX (CHILD) */
{% macro flexboxFlex(amount, width) %} 
    -webkit-box-flex: {{ amount }}; 
    -moz-box-flex: {{ amount }}; 
    width: {{ width }};
    -webkit-flex: {{ amount }}; 
    -ms-flex: {{ amount }}; 
    flex: {{ amount }};
{% endmacro %}

/* ORDER (CHILD) */
{% macro flexboxOrder(number) %} 
    -webkit-box-ordinal-group: {{ number }};
    -moz-box-ordinal-group: {{ number }};
    -ms-flex-order: {{ number }};
    -webkit-order: {{ number }};
    order: {{ number }};
{% endmacro %}


/*-------------------------------------------------------------

01.04      BASE        MACROS       FLOURISHES

-------------------------------------------------------------*/

/* BACKDROP FILTER*/
{% macro backdropFilter(style) %}
    -webkit-backdrop-filter: {{ style }};
    -moz-backdrop-filter: {{ style }};
    backdrop-filter: {{ style }};
{% endmacro %}

/* BLACK, SEMI-TRANSPARENT BACKGROUND OVERLAY */
{% macro backgroundWithBlackOverlay(transparency, image) %}
    background-image: 
        -moz-linear-gradient(top, rgba(0,0,0,{{transparency}}) 0%, rgba(0,0,0,{{transparency}}) 100%), 
        url('{{image}}');
    background-image: 
        -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,{{transparency}})), color-stop(100%, rgba(0,0,0,{{transparency}}))), 
        url('{{image}}');
    background-image: 
        -webkit-linear-gradient(top, rgba(0,0,0,{{transparency}}) 0%, rgba(0,0,0,{{transparency}}) 100%), 
        url('{{image}}');
    background-image: 
        -o-linear-gradient(top, rgba(0,0,0,{{transparency}}) 0%, rgba(0,0,0,{{transparency}}) 100%), 
        url('{{image}}');
    background-image: 
        -ms-linear-gradient(top, rgba(0,0,0,{{transparency}}) 0%, rgba(0,0,0,{{transparency}}) 100%), 
        url('{{image}}');
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,{{transparency}}) 0%, rgba(0,0,0,{{transparency}}) 100%), 
        url('{{image}}');
{% endmacro %}

/* BACKGROUND GRADIENT: TOP TO BOTTOM, FROM ONE COLOR TO A 2ND COLOR */
{% macro backgroundGradientA(color1, color2) %}
    background: {{color1}};
    background: -moz-linear-gradient(top, {{color1}} 0%, {{color2}} 100%) ;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, {{color1}}), color-stop(100%, {{color2}}));
    background: -webkit-linear-gradient(top, {{color1}} 0%, {{color2}} 100%);
    background: -o-linear-gradient(top, {{color1}} 0%, {{color2}} 100%);
    background: -ms-linear-gradient(top, {{color1}} 0%, {{color2}} 100%);
    background: linear-gradient(to bottom, {{color1}} 0%, {{color2}} 100%);
{% endmacro %}

/* BACKGROUND GRADIENT: TOP TO BOTTOM, FROM ONE COLOR TO A 2ND COLOR, WITH AN ADDITIONAL BACKGROUND IMAGE ON TOP */
{% macro backgroundGradientAWithImage(color1, color2, image) %}
    background: {{color1}};
    background: 
        url('{{image}}'),
        -moz-linear-gradient(top, {{color1}} 0%, {{color2}} 100%) ;
    background: 
        url('{{image}}'),
        -webkit-gradient(left top, left bottom, color-stop(0%, {{color1}}), color-stop(100%, {{color2}}));
    background: 
        url('{{image}}'),
        -webkit-linear-gradient(top, {{color1}} 0%, {{color2}} 100%);
    background: 
        url('{{image}}'),
        -o-linear-gradient(top, {{color1}} 0%, {{color2}} 100%);
    background: 
        url('{{image}}'),
        -ms-linear-gradient(top, {{color1}} 0%, {{color2}} 100%);
    background: 
        url('{{image}}'),
        linear-gradient(to bottom, {{color1}} 0%, {{color2}} 100%);
{% endmacro %}

/* BOX SHADOW */
{% macro boxShadow(shadow) %} 
    -webkit-box-shadow: {{ shadow }};
    -moz-box-shadow: {{ shadow }};
    box-shadow: {{ shadow }};
{% endmacro %}

/* CIRCLE */
{% macro circle(radius) %}
    {{ borderRadius("50%") }}
    height: {{ radius }};
    outline: 1px solid transparent;
    width: {{ radius }};
{% endmacro %}

/* CLIP PATH */
{% macro clipPath(path) %}
    -webkit-clip-path: {{ path }};
    clip-path: {{ path }};
{% endmacro %}

/* SHAPE (OUTSIDE) */
{% macro shapeOutside(shape) %}
    -webkit-shape-outside: {{ shape }};
    shape-outside: {{ shape }};
{% endmacro %}

/* SHAPE MARGIN */
{% macro shapeMargin(margin) %}
    -webkit-shape-margin: {{ margin }};
    shape-margin: {{ margin }};
{% endmacro %}

/* TRANSITION */
{% macro transition(transition) %}
    -webkit-transition: {{ transition }};
    -moz-transition: {{ transition }};
    transition: {{ transition }};
{% endmacro %}

/* TRANSFORM */
{% macro transform(property) %}
    -webkit-transform: {{ property }};
    -moz-transform: {{ property }};
    transform: {{ property }};
{% endmacro %}
