/*========================================================================================

03c.00      LAYOUT FRAMEWORK        MOLECULES        FORM                      

========================================================================================*/

{% import "custom/page/base/01a-macros.css" %}
{% import "custom/page/base/01b-colors.css" %}
{% import "custom/page/base/01c-breakpoints.css" %}
{% import "custom/page/base/01d-typography.css" %}
{% import "custom/page/base/02a-constants.css" %}


/*-------------------------------------------------------------------------------------

03c.01      LAYOUT FRAMEWORK        MOLECULES         FORM     CONFIRMATION OVERLAY

-------------------------------------------------------------------------------------*/

.form__subtitle + a { 
    position: relative;
    top: -1000000000000px;
}

.form__confirmation { 
    background-color: rgba({{ colorCore3|convert_rgb }}, 0.8);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;   
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000000000;
}

.form__confirmation .container--form__confirmation { 
    height: 100%;
    max-width: 40em;
    overflow: scroll;
    padding: calc({{ mastheadSizeMobile }} - 1.25em) 0 1em /*1em 0*/;
}  
    @media only screen and (min-width: {{ breakpointPhablet }}) { 
        .form__confirmation .container--form__confirmation { 
            padding: calc({{ mastheadSizeDesktop }} - 1.25em) 0 1em;
        }  
    }
    @media only screen and (min-height: {{ breakpointHeightFormConfirmation }}) { 
        .form__confirmation .container--form__confirmation { 
            height: auto;
            overflow: auto;
            padding: 0;
            top: 50%;
            {{ transform("translateY(-50%)") }}
        }     
    }

.form__confirmation .confirmation__topper .seal { 
    background-color: {{ colorCore5 }};
    {{ circle("8.75em") }} /*108px*/
    color: #fff;
    display: none;
    font-size: 0.75em;
    margin: 0 auto -3.375em /*-54px*/;
    position: relative;
    z-index: 1000000;
}
    @media only screen and (min-height: {{ breakpointHeightFormConfirmation }}) { 
        .form__confirmation .confirmation__topper .seal { 
            display: block;
        }     
    }
    @media only screen and (min-width: {{ breakpointPhablet }}) { 
        .form__confirmation .confirmation__topper .seal { 
            font-size: 1em;
        }
    }

.form__confirmation .confirmation__topper .seal img { 
    height: 5.438em /*87px*/;
    margin-left: 0.188em /*3px*/;
    margin-top: 1.25em /*20px*/;
    width: 7.125em /*114px*/;
}

.form__confirmation .confirmation__body { 
    background-color: #fff;    
    border: 0.563em solid {{ colorCore5 }};
    {{ borderRadius("0.375em") }}
    padding: 2.531em 1.75em 1.125em /*40.5px 40px 20px*/;
    position: relative;
}
    @media only screen and (min-width: {{ breakpointPhablet }}) { 
        .form__confirmation .confirmation__body { 
            padding: 4.375em 2.25em 1.125em /*70px 40px 20px*/;
        }    
    }
    
.form__confirmation .confirmation__body button { 
    color: {{ colorCore5 }};
    font-size: 1.5em;
    line-height: 1;
    margin: auto;
    position: absolute;   
    right: 0.5em;
    top: 0.5em;
     {{ transition("color 0.2s ease-in-out") }}
}
.form__confirmation .confirmation__body button:hover { 
    color: {{ colorCore5Hover }};    
}

.form__confirmation .confirmation__body .title { 
    color: {{ colorCore3 }};
    font-family: {{ textFontAccent }};
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.5em;
}   
    @media only screen and (min-width: {{ breakpointPhablet }}) { 
        .form__confirmation .confirmation__body .title { 
            font-size: 3em /*48px*/;
        }
    }

.form__confirmation .confirmation__body .subtitle { 
    font-size: 1.125em /*18px*/;
    line-height: 1.4;
    margin: 1em auto;
    max-width: 25em;    
}
    @media only screen and (min-width: {{ breakpointPhablet }}) { 
        .form__confirmation .confirmation__body .subtitle { 
            font-size: 1.25em /*20px*/;
        }
    }

.form__confirmation .confirmation__body .call-to-action { 
    font-size: 1.125em /*18px*/;
    margin: 1em auto 1.778em /*32px*/;
    text-align: center;
}
    @media only screen and (min-width: {{ breakpointPhablet }}) { 
        .form__confirmation .confirmation__body .call-to-action { 
            font-size: 1.25em /*20px*/;
            margin: 1em auto 3.2em /*64px*/;
        }
    }

.form__confirmation .confirmation__body .caveat { 
    font-size: 0.875em;    
    font-style: italic;
    line-height: 1.2;
}
