/*-------------------------------------------------------------

BASE        BRANDING		COLORS, DOMINANT

-------------------------------------------------------------*/

$color-dominant-1:;			//~ Color goes here
$color-dominant-1-hover:; 	//~ Color goes here

$color-dominant-2:;			//~ Color goes here
$color-dominant-2-hover:; 	//~ Color goes here


/*-------------------------------------------------------------

BASE        BRANDING       COLORS, ACCENT

-------------------------------------------------------------*/

$color-accent-1:; 			//~ Color goes here
$color-accent-1-hover:; 	//~ Color goes here

$color-accent-2:; 			//~ Color goes here
$color-accent-2-hover:; 	//~ Color goes here

$color-accent-3:; 			//~ Color goes here
$color-accent-3-hover:; 	//~ Color goes here


/*-------------------------------------------------------------

BASE        BRANDING       FONTS

-------------------------------------------------------------*/

$font-dominant:; 			//~ Font stack goes here

$font-accent:; 				//~ Font stack goes here


/*-------------------------------------------------------------

BASE        BRANDING       STATES

-------------------------------------------------------------*/

// e.g., focus, active, hover, etc.


/*-------------------------------------------------------------

BASE        BRANDING       FORM FIELDS

-------------------------------------------------------------*/



/*-------------------------------------------------------------

BASE        BRANDING       BUTTONS

-------------------------------------------------------------*/



/*-------------------------------------------------------------

BASE        BRANDING       ANIMATIONS & TRANSITIONS

-------------------------------------------------------------*/



